<!DOCTYPE html>
<html lang="ru" xmlns:th="https://thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Все резюме</title>
  <link rel="stylesheet" th:href="@{/css/vacancyPageStyle.css}" />
</head>
<body>
<header th:insert="~{header :: header}"></header>

<div class="main-content">

  <div class="search-section">
    <div class="search-bar">
      <input type="text" placeholder="Поиск резюме..." id="search-input">
      <button id="search-btn">Найти</button>
    </div>
  </div>

  <h2 class="found-vacancies">Найдено: 200 резюме</h2>

  <div class="content">
    <section class="filters">
      <h2>Фильтры</h2>
      <div class="filters-container">

        <div class="filter-column">
          <div class="filter-box">
            <h4>Опыт работы</h4>
            <div class="filter-options">
              <label><input type="checkbox" name="experience"> Нет опыта</label>
              <label><input type="checkbox" name="experience"> 1–3 года</label>
              <label><input type="checkbox" name="experience"> 3–6 лет</label>
              <label><input type="checkbox" name="experience"> Более 6 лет</label>
            </div>
          </div>
          <div class="filter-box">
            <h4>Желаемый формат</h4>
            <div class="filter-options">
              <label><input type="checkbox" name="format"> Офис</label>
              <label><input type="checkbox" name="format"> Удалёнка</label>
              <label><input type="checkbox" name="format"> Гибрид</label>
            </div>
          </div>
          <div class="filter-box">
            <h4>Желаемая занятость</h4>
            <div class="filter-options">
              <label><input type="checkbox" name="employment"> Полная</label>
              <label><input type="checkbox" name="employment"> Частичная</label>
              <label><input type="checkbox" name="employment"> Стажировка</label>
            </div>
          </div>
          <div class="filter-box">
            <h4>Профессия</h4>
            <div class="salary-inputs">
              <input type="text" placeholder="Например, Frontend Developer">
            </div>
          </div>
          <div class="filter-box">
            <h4>Город</h4>
            <div class="salary-inputs">
              <input type="text" placeholder="Город">
            </div>
          </div>
          <div class="filter-box">
            <h4>Желаемая зарплата</h4>
            <div class="salary-inputs">
              <input type="number" placeholder="Минимум">
              <input type="number" placeholder="Максимум">
            </div>
          </div>
          <div class="filter-box">
            <button type="submit" class="filter-submit">Применить фильтры</button>
          </div>
        </div>

      </div>
    </section>

    <div class="vacancy-list">

      <div th:each="resume : ${resumes}">
        <div class="vacancy-card">
          <div class="vacancy-header">
            <h4 class="vacancy-title"
                th:text="|${resume.title} — ${resume.personalInfo.lastName} ${resume.personalInfo.firstName}|">
              Frontend Developer — Иван Иванов
            </h4>
            <div class="vacancy-salary-details">
        <span class="salary"
              th:text="|Желаемая зарплата: ${resume.jobPreference.desiredSalary} Br|">
          Желаемая зарплата: 3000–3500 Br
        </span>
              <span class="detail-badge"
                    th:text="|Опыт ${resume.jobPreference.experienceYear}|">
          Опыт 2 года
        </span>
              <span class="detail-badge"
                    th:text="${resume.jobPreference.employmentType}">
          Полная занятость
        </span>
            </div>
          </div>

          <div class="vacancy-company">
      <span class="company-name"
            th:text="${resume.personalInfo.city}">
        Минск
      </span>
          </div>

          <div class="vacancy-location">
              <span class="city">
                Навыки:
                <span th:each="rs, iterStat : ${resume.resumeSkills}">
                  <span th:if="${iterStat.index < 3}">
                    <span th:text="${rs.skill.name}">React</span>
                    <span th:if="${iterStat.index + 1 < #lists.size(resume.resumeSkills) and iterStat.index < 2}">, </span>
                  </span>
                </span>
              </span>
          </div>


          <button class="apply-btn">Посмотреть резюме</button>
        </div>
      </div>




    </div>
  </div>
</div>

<footer th:insert="~{footer :: footer}"></footer>


<script src="/js/jobPageScript.js"></script>

</body>
</html>
