<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Подбор сотрудников</title>
  <link rel="stylesheet" href="/css/jobPageStyle.css" />
</head>
<body>

  <!-- Header -->
  <header class="header">
    <div class="left-section">
      <div class="logo">PandFor</div>
      <div class="dropdown">
        <button class="dropbtn">Ищу сотрудника</button>
        <div class="dropdown-content">
          <a th:href="@{/job}">Ищу работу</a>
          <a th:href="@{/company}">Ищу сотрудника</a>
        </div>
      </div>      
      
    </div>
    <div class="right-section">
      <form id="vacancyList" th:method="GET" th:action="@{/company/vacancy}">
        <button class="resume-btn">Список вакансий</button>
      </form>
      <form id="createResume" th:method="GET" th:action="@{/company/new}">
        <button class="resume-btn">Создать вакансию</button>
      </form>
      <button class="login-btn">Войти</button>
    </div>
  </header>


  <main class="main-content">

    <section class="search-section">
      <div class="search-bar">
        <input type="text" placeholder="Поиск сотрудника..." />
        <button id="search-btn">Найти</button>
      </div>
    </section>
    <section class="filters">
      <h2>Фильтры</h2>
      
      <div class="filters-container">

        <div class="filter-column">
          <div class="filter-box">
            <h4>Формат работы</h4>
            <div class="filter-options">
              <label><input type="checkbox" name="format"> На месте работодателя</label>
              <label><input type="checkbox" name="format"> Удалённо</label>
              <label><input type="checkbox" name="format"> Гибрид</label>
            </div>
          </div>
          <div class="filter-box">
            <h4>График работы</h4>
            <div class="filter-options">
              <label><input type="checkbox" name="schedule"> 5/2</label>
              <label><input type="checkbox" name="schedule"> 2/2</label>
              <label><input type="checkbox" name="schedule"> 3/3</label>
              <label><input type="checkbox" name="schedule"> По выходным</label>
            </div>
          </div>
        </div>
    

        <div class="filter-column">
          <div class="filter-box">
            <h4>Требуемый опыт</h4>
            <div class="filter-options">
              <label><input type="radio" name="experience"> Не имеет значения</label>
              <label><input type="radio" name="experience"> Нет опыта</label>
              <label><input type="radio" name="experience"> От 1 года до 3 лет</label>
              <label><input type="radio" name="experience"> От 3 до 6 лет</label>
              <label><input type="radio" name="experience"> Более 6 лет</label>
            </div>
          </div>
          <div class="filter-box">
            <h4>Тип занятости</h4>
            <div class="filter-options">
              <label><input type="checkbox" name="employment"> Полная занятость</label>
              <label><input type="checkbox" name="employment"> Частичная занятость</label>
              <label><input type="checkbox" name="employment"> Стажировка</label>
            </div>
          </div>
        </div>
    

        <div class="filter-column-search">
          <div class="filter-box">
            <h4>Название компании</h4>
            <div class="salary-inputs">
             <input type="text" placeholder="Название компании">
            </div>
          </div>
          <div class="filter-box">
            <h4>Город</h4>
            <div class="salary-inputs">
             <input type="text" placeholder="Город">
            </div>
          </div>
        </div>
    

        <div class="filter-column">
          <div class="filter-box">
            <h4>Уровень дохода</h4>
            <div class="salary-inputs">
              <input type="number" placeholder="Минимум">
              <input type="number" placeholder="Максимум">
            </div>
          </div>
          <div class="filter-box">
            <button type="submit" class="filter-submit">Применить фильтры</button>
          </div>
        </div>
      </div>
    </section>
    
    
    
    


    <section class="featured">
      <h2>Вакансии дня</h2>
      <div class="vacancies">
        <div class="vacancy-card">
          <h4>Frontend-разработчик</h4>
          <p>React, JavaScript, HTML, CSS</p>
        </div>
      </div>
    </section>
  </main>


  <footer class="footer">
    <div class="footer-left">
      <h3>О компании</h3>
      <p>Мы помогаем компаниям находить лучших IT-специалистов.</p>
    </div>
    <div class="footer-center">
      <ul>
        <li><a href="#">О нас</a></li>
        <li><a href="#">Контакты</a></li>
        <li><a href="#">Политика конфиденциальности</a></li>
      </ul>
    </div>
    <div class="footer-right">
      <div class="socials">
        <a href="#">Facebook</a>
        <a href="#">Twitter</a>
        <a href="#">LinkedIn</a>
        <a href="#">Instagram</a>
      </div>
    </div>
  </footer>
  <script src="/js/jobPageScript.js"></script>

</body>
</html>
