<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Подбор сотрудников</title>
  <link rel="stylesheet" href="/css/jobPageStyle.css" />
</head>
<body>

<header th:insert="~{header :: header}"></header>


  <main class="main-content">

    <section class="search-section">
      <form class="search-bar" th:method="POST" th:action="@{/search/resume}">
        <input name="query" type="text" placeholder="Поиск резюме..." id="search-input">
        <button type="submit" id="search-btn">Найти</button>
      </form>
    </section>
    <section class="filters">
      <h2>Фильтры</h2>
      <form th:method="GET" th:action="@{/filters/resume}" id="filters-form">
      <div class="filters-container">

        <div class="filter-column">
          <div class="filter-box">
            <h4>Формат работы</h4>
            <div class="filter-options">
              <label>
                <input type="checkbox" name="workFormats" value="EMPLOYER_PLACE">
                <span th:text="${T(by.baraznov.recruiting.models.enums.WorkFormat).EMPLOYER_PLACE.label}">В офисе</span>
              </label>
              <label>
                <input type="checkbox" name="workFormats" value="REMOTELY">
                <span th:text="${T(by.baraznov.recruiting.models.enums.WorkFormat).REMOTELY.label}">Удалённо</span>
              </label>
              <label>
                <input type="checkbox" name="workFormats" value="HYBRID">
                <span th:text="${T(by.baraznov.recruiting.models.enums.WorkFormat).HYBRID.label}">Гибридный формат</span>
              </label>
            </div>
          </div>
          <div class="filter-box">
            <h4>График работы</h4>
            <div class="filter-options">
              <label>
                <input type="checkbox" name="schedules" value="FIVE_TWO">
                <span th:text="${T(by.baraznov.recruiting.models.enums.Schedule).FIVE_TWO.label}">5/2</span>
              </label>
              <label>
                <input type="checkbox" name="schedules" value="TWO_TWO">
                <span th:text="${T(by.baraznov.recruiting.models.enums.Schedule).TWO_TWO.label}">2/2</span>
              </label>
              <label>
                <input type="checkbox" name="schedules" value="THREE_THREE">
                <span th:text="${T(by.baraznov.recruiting.models.enums.Schedule).THREE_THREE.label}">3/3</span>
              </label>
              <label>
                <input type="checkbox" name="schedules" value="ON_WEEKENDS">
                <span th:text="${T(by.baraznov.recruiting.models.enums.Schedule).ON_WEEKENDS.label}">По выходным</span>
              </label>
            </div>
          </div>
        </div>

        <div class="filter-column">
          <div class="filter-box">
            <h4>Требуемый опыт</h4>
            <div class="filter-options">
              <label>
                <input type="radio" name="experience" value="IT_DOESNT_METTER">
                <span th:text="${T(by.baraznov.recruiting.models.enums.ExperienceYear).IT_DOESNT_METTER.label}">Не имеет значения</span>
              </label>
              <label>
                <input type="radio" name="experience" value="NO_EXPERIENCE">
                <span th:text="${T(by.baraznov.recruiting.models.enums.ExperienceYear).NO_EXPERIENCE.label}">Нет опыта</span>
              </label>
              <label>
                <input type="radio" name="experience" value="ONE_THEE_YEAR">
                <span th:text="${T(by.baraznov.recruiting.models.enums.ExperienceYear).ONE_THEE_YEAR.label}">От 1 года до 3 лет</span>
              </label>
              <label>
                <input type="radio" name="experience" value="THREE_SIX_YEAR">
                <span th:text="${T(by.baraznov.recruiting.models.enums.ExperienceYear).THREE_SIX_YEAR.label}">От 3 до 6 лет</span>
              </label>
              <label>
                <input type="radio" name="experience" value="MORE_THE_SIX_YEAR">
                <span th:text="${T(by.baraznov.recruiting.models.enums.ExperienceYear).MORE_THE_SIX_YEAR.label}">Более 6 лет</span>
              </label>
            </div>
          </div>
          <div class="filter-box">
            <h4>Тип занятости</h4>
            <div class="filter-options">
              <label>
                <input type="checkbox" name="employmentTypes" value="FULL_TIME">
                <span th:text="${T(by.baraznov.recruiting.models.enums.EmploymentType).FULL_TIME.label}">Полная занятость</span>
              </label>
              <label>
                <input type="checkbox" name="employmentTypes" value="PART_TIME">
                <span th:text="${T(by.baraznov.recruiting.models.enums.EmploymentType).PART_TIME.label}">Частичная занятость</span>
              </label>
              <label>
                <input type="checkbox" name="employmentTypes" value="INTERNSHIP">
                <span th:text="${T(by.baraznov.recruiting.models.enums.EmploymentType).INTERNSHIP.label}">Стажировка</span>
              </label>
            </div>
          </div>
          </div>

        <div class="filter-column-search">
          <div class="filter-box">
            <h4>Название резюме</h4>
            <div class="text-inputs">
              <input type="text" name="companyName" placeholder="Название резюме"
                     th:value="${param.companyName}">
            </div>
          </div>
          <div class="filter-box">
            <h4>Город</h4>
            <div class="text-inputs">
              <input type="text" name="city" placeholder="Город"
                     th:value="${param.city}">
            </div>
          </div>
        </div>
    

        <div class="filter-column">
          <div class="filter-box">
            <h4>Уровень дохода</h4>
            <div class="salary-inputs">
              <input type="number" name="minSalary" placeholder="Минимум"
                     th:value="${param.minSalary}">
              <input type="number" name="maxSalary" placeholder="Максимум"
                     th:value="${param.maxSalary}">
            </div>
          </div>
          </div>
          <div class="filter-box">
            <button type="submit" class="filter-submit">Применить фильтры</button>
          </div>
        </div>
      </div>
      </form>
    </section>
    
    
    
    


    <section class="featured">
      <h2>Вакансии дня</h2>
      <div class="vacancies">
        <div class="vacancy-card">
          <h4>Frontend-разработчик</h4>
          <p>React, JavaScript, HTML, CSS</p>
        </div>
      </div>
    </section>
  </main>


<footer th:insert="~{footer :: footer}"></footer>
  <script src="/js/jobPageScript.js"></script>

</body>
</html>
