<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Вход</title>
  <link rel="stylesheet" href="/static/css/signPageStyle.css">
</head>
<body>
    
    <div class="login-wrapper">
    <div class="top-bar">
      <button class="back-btn">←</button>
      <img src="logo.png" alt="Логотип" class="logo-img">
    </div>
  
    <h2>Вход</h2>
  
    <form class="login-form">
      <input type="email" placeholder="Введите email" required>
      <input type="password" placeholder="Введите пароль" required>
      
      <button type="submit" class="primary-btn">Войти</button>

    </form>
  
  </div>

</body>
</html>
