<!DOCTYPE html>
<html lang="ru" xmlns:th="https://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Вход</title>
  <link rel="stylesheet" th:href="@{/css/signPageStyle.css}">
</head>
<body>
    
    <div class="login-wrapper">
    <div class="top-bar">
      <button class="back-btn" onclick="window.history.back()">←</button>
      <img src="/images/signIn.png" alt="Логотип" class="logo-img">
    </div>
  
    <h2>Вход</h2>
  
    <form class="login-form" method="post" action="/process_login">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <input type="text"  name="login" id="login" placeholder="Введите логин" required>
        <input type="password" name="password" id="password" placeholder="Введите пароль" required>
        <div th:if="${param.error}" style="color: red;">
            <p >Неверный логин или пароль</p>
        </div>
         <button type="submit" class="primary-btn">Войти</button>

    </form>
        <p>Нет учётной записи? <br><a th:href="@{/auth/registration}">Создать аккаунт</a></p>
  </div>

</body>
</html>
